@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

@font-face {
    font-family: "Apfel Grotezk Fett";
    src: url("/assets/fonts/ApfelGrotezk-Fett.woff2") format("woff2");
}

@font-face {
    font-family: "Apfel Grotezk Mittel";
    src: url("/assets/fonts/ApfelGrotezk-Mittel.woff2") format("woff2");
}


@font-face {
    font-family: "Apfel Grotezk Regular";
    src: url("/assets/fonts/ApfelGrotezk-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Apfel Grotezk Satt";
    src: url("/assets/fonts/ApfelGrotezk-Satt.woff2") format("woff2");
}

@font-face {
    font-family: "Necto Mono";
    src: url("/assets/fonts/NectoMono-Regular.woff2") format("woff2");
}