:root {
    font-family: 'Apfel Grotezk Regular';
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Apfel Grotezk Satt';
}