:root {
    font-family: 'Apfel Grotezk Regular';
    color-scheme: light dark;
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Apfel Grotezk Fett';
}

pre, code {
    font-family: 'Necto Mono';
}